*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sports{

  background-image:url(../img/bg-img.jpeg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
}
.logo h3{
  font-size: 36px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
}
.search-bar input{
  position: relative;
  border-radius: 5px;
}
.search-bar i{
  position: absolute;
  top: 28px;
  right: 25px;
  color: grey;
}

.spoets-acce{
  padding: 80px 0 0;
  color: thistle;
  text-align: center;
}
.acces img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.acces h3{
  color: black;
  font-size: 24px;
  background-color: aquamarine;
}
.acces h5{
  color:royalblue;
  font-size: 18px;
  background-color: violet;
  margin-bottom: 50px;
}